<!DOCTYPE html>
<html>
<head>
  <title>Book Details</title>
  <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
  <nav class="main-header"> 
    <img src="../static/images/book-share-logo.jpg" class="main-header" alt="Book Sharer Logo">
    <h1>Welcome to Book Sharer</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="login">Login</a></li>
        <li><a href="createuser">Create User</a></li>
        <li><a href="mybooks">My Books</a></li>
        <li><a href="discover">Discover</a></li>
        <li><a href="ratings">Ratings</a></li>
        <li><a href="logout">Logout</a></li>
      </ul>
    </nav>
  </nav>

  <main>
    <section id="book-details">
      <h2 id="book-title">{{data[0][3]}}</h2>
      <td id="book-author">{{data[0][10]}}</td>
      <br>
      <td id="book-publisher">{{data[0][2]}}</td>
      <table>
        <tr>
          <th>ISBN</th>
          <th>Language</th>
          <th>Published</th>
          <th>Rating</th>
          <th>Pages</th>
          <th>Price</th>
          <th>Genre</th>
        </tr>
        <tr>
          <td><p id="book-author">{{data[0][0]}}</p></td>
          <td><p id="book-author">{{data[0][4]}}</p></td>
          <td><p id="book-date-published">{{data[0][1]}}</p></td>
          <td><p id="book-rating">{{data[0][8]}}</p></td>
          <td><p id="book-pages">{{data[0][5]}}</p></td>
          <td><p id="book-price">{{data[0][6]}}</p></td>
          {% for i in range(len) %}
          <td><p id="book-genre">{{bookgenre[i][1]}}  <br> </p></td>
          {% endfor %}
        </tr>
      </table>
      <form id="savebook" method="post">
      <p id="book-description">{{data[0][7]}}</p>
      <button id="save-book" type="submit">Save Book</button>
      <br>
      <td><a href="/bookrate?isbn={{data[0][0]}}"> Rate book</a></td>
      <span id="error-message" style="display: none;"></span>
      </form>
    </section>
    

      
  </main>
  
  <footer>
    <p>&copy; 2023 Book Sharer. All rights reserved.</p>
  </footer>

  
</body>
</html>
