<!DOCTYPE html>
<html>
<head>
  <title>Book Sharer</title>
  <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
  <nav class="main-header"> 
    <img src="../static/images/book-share-logo.jpg" class="main-header" alt="Book Sharer Logo">
    <h1>Welcome to Book Sharer</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="login">Login</a></li>
        <li><a href="createuser">Create User</a></li>
        <li><a href="mybooks">My Books</a></li>
        <li><a href="discover">Discover</a></li>
        <li><a href="ratings">Ratings</a></li>
        <li><a href="logout">Logout</a></li>
      </ul>
    </nav>
  </nav>

  <main>
    <section id="book-details">
      <h2><a class="header-link" href=discover.html> Discover New Books</a></h2>
      <div id="book-info">
        <h3>Title: <span id="book-title"></span></h3>
        <p>Description: <span id="book-description"></span></p>
        <p>Rating: <span id="book-rating"></span></p>
      </div>
    </section>

    <section id="index-ratings">
      <h2><a class="header-link" href=ratings.html>Ratings</a>  </h2>
      <ul id="index-ratings">
       
      </ul>
    </section>

    <section id="my-books">
      <h2><a class="header-link" href=mybooks.html>My Books</a> </h2>
      <ul id="my-book-list">
        
      </ul>
    </section>
  </main>

  <footer>
    <p>&copy; 2023 Book Sharer. All rights reserved.</p>
  </footer>

  
</body>
</html>
