<!DOCTYPE html>
<html>
<head>
  <title>Book Sharer</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <nav class="main-header"> 
    <img src="/book-share-logo.jpg" class="main-header" alt="Book Sharer Logo">
    <h1>Welcome to Book Sharer</h1>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="login.html">Login</a></li>
        <li><a href="mybooks.html">My Books</a></li>
        <li><a href="discover.html">Discover</a></li>
        <li><a href="ratings.html">Ratings</a></li>
        <li><a href="logout.html">Logout</a></li>
      </ul>
    </nav>
  </nav>

  <main>
    <section id="book-details">
      <h2><a class="header-link" href=discover.html> Discover New Books</a></h2>
      <div id="book-info">
        <h3>Title: <span id="book-title"></span></h3>
        <p>Description: <span id="book-description"></span></p>
        <p>Average Rating: <span id="book-rating"></span></p>
        <!-- Add the following input fields for user rating -->
        <label for="user-rating">Your Rating:</label>
        <input type="number" id="user-rating" min="1" max="5" required>
        <button id="submit-rating">Submit Rating</button>
        <!-- End of user rating fields -->
      </div>
    </section>

    <section id="index-ratings">
      <h2><a class="header-link" href=ratings.html>Ratings</a>  </h2>
      <ul id="index-ratings">
       
      </ul>
    </section>

    <section id="my-books">
      <h2><a class="header-link" href=mybooks.html>My Books</a> </h2>
      <ul id="my-book-list">
        
      </ul>
    </section>
  </main>

  <footer>
    <p>&copy; 2023 Book Sharer. All rights reserved.</p>
  </footer>

  <script src="app.js"></script>
</body>
</html>
