<!DOCTYPE html>
<html>
<head>
  <title>Logout - Book Sharer</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <nav class="main-header"> 
    <img src="book-sharer-app/static/images/book-share-logo.jpg" class="main-header" alt="Book Sharer Logo">
    <h1>Welcome to Book Sharer</h1>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="login.html">Login</a></li>
        <li><a href="mybooks.html">My Books</a></li>
        <li><a href="discover.html">Discover</a></li>
        <li><a href="ratings.html">Ratings</a></li>
        <li><a href="logout.html">Logout</a></li>
      </ul>
    </nav>
  </nav>

  <main>
    <section id="login">
        <h2>Login</h2>
        <form id="login-form">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required>
          <button id ="login_button" type="submit">Login</button>
          <span id="error-message" style="display: none;"></span>
        </form>
    <section id ="create-user">
        <h2>Create User </h2>
        <button id="create-user-button"> Create User </button>
        
    </section>
    </section>

  </main>

  <footer>
    <p>&copy; 2023 Book Sharer. All rights reserved.</p>
  </footer>
  <script> src="app.js"</script>
</body>
</html>
