<!DOCTYPE html>
<html>
<head>
  <title>Logout - Book Sharer</title>
  <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
  <nav class="main-header"> 
    <img src="book-sharer-app/static/images/book-share-logo.jpg" class="main-header" alt="Book Sharer Logo">
    <h1>Welcome to Book Sharer</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="login">Login</a></li>
        <li><a href="createuser">Create User</a></li>
        <li><a href="mybooks">My Books</a></li>
        <li><a href="discover">Discover</a></li>
        <!-- <li><a href="ratings">Ratings</a></li> -->
        <li><a href="logout">Logout</a></li>
      </ul>
    </nav>
  </nav>

  <main>
    <section id="login">
        <h2>Login</h2>
        <form id="login-form" method="post">
          <label for="username">Username</label>
          <input type="text" id="user" name="user" value="" placeholder="user" required>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" value="" placeholder="password" required>
          <button id ="login_button" type="submit">Login</button>
          <span id="error-message" style="display: none;"></span>
        </form>
            <!-- This is for the error message with flash -->
            <body>
              {% for mesg in get_flashed_messages() %}
              <h1>{{ mesg }}</h1>
              {% endfor %}
            </body>
        
  
    </section>

  </main>

  <footer>
    <p>&copy; 2023 Book Sharer. All rights reserved.</p>
  </footer>
  
</body>
</html>




