<!DOCTYPE html>
<html>
<head>
  <title>Logout - Book Sharer</title>
  <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
  <nav class="main-header"> 
    <img src="/book-share-logo.jpg" class="main-header" alt="Book Sharer Logo">
    <h1>Welcome to Book Sharer</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="login">Login</a></li>
        <li><a href="createuser">Create User</a></li>
        <li><a href="mybooks">My Books</a></li>
        <li><a href="discover">Discover</a></li>
        <!-- <li><a href="ratings">Ratings</a></li> -->
        <li><a href="logout">Logout</a></li>
      </ul>
    </nav>
  </nav>

  <main>
    <h1>Logout</h1>
    <p>You have been successfully logged out.</p>
  </main>

  <footer>
    <p>&copy; 2023 Book Sharer. All rights reserved.</p>
  </footer>
  
</body>
</html>
