<!DOCTYPE html>
<html>
<head>
  <title>My Books - Book Sharer</title>
  <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
  <nav class="main-header"> 
    <img src="/book-share-logo.jpg" class="main-header" alt="Book Sharer Logo">
    <h1>Welcome to Book Sharer</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="login">Login</a></li>
        <li><a href="createuser">Create User</a></li>
        <li><a href="mybooks">My Books</a></li>
        <li><a href="discover">Discover</a></li>
        <li><a href="ratings">Ratings</a></li>
        <li><a href="logout">Logout</a></li>
      </ul>
    </nav>
  </nav>

  <main> 
    <form id="rating-form">
      <label for="user-rating">Your Rating:</label>
      <input type="number" id="user-rating" min="1" max="5" required />
      <button type="submit" id="submit-rating">Submit Rating</button>
    </form>

  </main>
    <footer>
      <p>&copy; 2023 Book Sharer. All rights reserved.</p>
    </footer>

    <script src="app.js"></script>
  </body>
</html>

