/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(45deg, #ffd195, #ffb2f3);
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main-header img {
  height: 40px;
}

.main-header nav ul {
  display: flex;
  list-style: none;
}

.main-header nav ul li {
  margin-left: 15px;
}

.main-header nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}


main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-link {
  text-decoration: none;
  color: #333;
  

}

.rating-box {
  position: relative;
  background: #fff;
  padding: 25px 50px 35px;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.rating-box header {
  font-size: 22px;
  color: #dadada;
  font-weight: 500;
  margin-bottom: 20px;
}

.rating-box .stars {
  display: flex;
  align-items: center;
  gap: 25px;
}

.stars .fa-star {
  color: #e6e6e6;
  font-size: 35px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.stars .fa-star.active {
  color: #ff9c1a;
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -200px;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

#create-user{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  
}
#login_button{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
#create-user-button{
  margin-top: 10px;
}
#books{
  font-size: larger;
  position: absolute;
  top: 200px; /* Adjust the desired top offset */
  left: 200px; /* Adjust the desired left offset */
  
}
#book-details{
  /*font-size: larger;*/
  position: absolute;
  top: 200px; /* Adjust the desired top offset */
  left: 200px; /* Adjust the desired left offset */

}
#index-ratings{
  top: 200px;
  position: absolute;
}

#my-books{
  /*font-size: larger;*/
  position: absolute;
  top: 200px; /* Adjust the desired top offset */
  right: 200px; /* Adjust the desired left offset */
}
#book-descriptions{
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  margin-top: 0px;
}
#save-book {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ef99eb;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#save-book:hover {
  background-color: #ef99eb;
}

footer {
  background: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer p {
  font-size: 14px;
  color: #888;
}

#book-photo {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}






